# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.dist/
.build/

# Virtual env
.venv/
env/
venv/

# OS / Editors
.DS_Store
Thumbs.db
.vscode/

# Local config
.env

# Data
data/
*.parquet

# Notebooks (if any)
*.ipynb_checkpoints/
