# Python
.venv/
venv/
ENV/
env/
*.venv/
__pycache__/
*.py[cod]
*$py.class

# Dane / raporty / modele (artefakty)
data/
reports/
models/*.joblib
models/*.json

# Streamlit & konfigi lokalne
.streamlit/
.env
*.pem
*.p12
*.key
id_*

# IDE
.vscode/
.idea/
