# === Core ML/DS ===
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.7.1
scipy==1.16.1
matplotlib==3.10.5
pyarrow==21.0.0
joblib==1.5.1

# === App (UI) ===
streamlit==1.48.1

# === Data download (Binance) ===
python-binance==1.0.29
aiohttp>=3.9.5
requests>=2.32.3
tzlocal>=5.2

# === Optional (tuning) ===
# optuna>=4.5.0
